<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<style>
			section {
				text-align: center;
			}
		</style>
	</head>
	<body>
		<section>
			<h1><%= what %></h1>
			<a href="/login"><%= login%></a>
			<a href="/logout"><%= logout%></a>
		</section>
	</body>
</html>
